#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: "Robo Girls Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Robo Girls Regular"),
    url("fonts/RoboGirls-4BzEB.woff") format("woff");
}

@font-face {
  font-family: "Robo Girls Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("Robo Girls Italic"),
    url("/fonts/RoboGirlsItalic-gxLmq.woff") format("woff");
}

@font-face {
  font-family: "bad robot laser";
  font-style: normal;
  font-weight: normal;
  src:
    local("bad robot laser"),
    url("/fonts/badrobotl.woff") format("woff");
}

.title {
  font-family: "bad robot laser", "Robo Girls Regural";
}
